.header{
    background-color: black;
    color: white;
    text-align: center;
    
}
.container{
    background-color: grey;
    text-align: center;
    height: 800px;
    width: 2000px;
}
.box{
    height:700px ;
    
    background-color: white;
}
.img1{
    height: 60px;
    width: 50px;
    display: flex;
   
}
.text{
    height: 80px;
    width: 70px;
 
}
.size{
    margin-right: 560px;
    display: flex;
    gap: 80px;
    justify-content: space-around;
}
.Run{
    display: flex;
}